*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/proguard-rules.pro
/gradle.properties
/build.gradle
/settings.gradle
/null
/gradle/wrapper/gradle-wrapper.properties
/app/build.gradle
