*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/proguard-rules.pro
/build.gradle
/gradle.properties
/settings.gradle
/null
.externalNativeBuild
/gradle/wrapper/gradle-wrapper.properties
/app/build.gradle
