<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.navinfo.liuba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.navinfo.liuba.RegisterActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.navinfo.liuba.BaseActivity"></activity>
        <activity android:name="com.navinfo.liuba.MainActivity"></activity>
        <activity android:name="com.navinfo.liuba.OrderInputActivity"></activity>
        <activity android:name="com.navinfo.liuba.OrderConfirmActivity"></activity>
        <activity android:name="com.navinfo.liuba.MyOrderListActivity"></activity>
        <activity android:name="com.navinfo.liuba.PaymentSelect"></activity>
        <activity android:name="com.navinfo.liuba.PaymentConfirm"></activity>
        <activity android:name="com.navinfo.liuba.MyScretActivity"></activity>
    </application>

</manifest>
